# 131 Final Project - Kickstarter Investigation

## Set Up

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from collections import Counter

## Read and Investigate the data

In [2]:
ks = pd.read_csv("kickstarter.csv")
ks.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [3]:
ks.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,1.074731e+09,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,6.190862e+08,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,5.971000e+03,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,5.382635e+08,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,1.075276e+09,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,1.610149e+09,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,2.147476e+09,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

In [4]:
ks.info()

# Predict: state 

# Prediction Variables: Name / Category / Main_category / Currency / 
#                       deadline / goal / launched / country 

# Variables to make: length_of_campaign / title_score / goal_amount_tier / launch_time_of_day /
#                    launch_year / launch_month / launch_day 

# Descriptive Variables: pledged / backers / usd pledged / usd_pledged_real / usd_goal_real

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
ID                  378661 non-null int64
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [5]:
# Categoires and counts for them 
count_categories = ks.category.value_counts()
count_categories

Product Design       22314
Documentary          16139
Music                15727
Tabletop Games       14180
Shorts               12357
Video Games          11830
Food                 11493
Film & Video         10108
Fiction               9169
Fashion               8554
Nonfiction            8318
Art                   8253
Apparel               7166
Theater               7057
Technology            6930
Rock                  6758
Children's Books      6756
Apps                  6345
Publishing            6018
Webseries             5762
Photography           5752
Indie Rock            5657
Narrative Film        5188
Web                   5153
Comics                4996
Crafts                4664
Country & Folk        4451
Design                4199
Hip-Hop               3912
Hardware              3663
                     ...
Couture                275
Blues                  268
Animals                255
Fabrication Tools      250
Printing               238
Makerspaces            238
Movie Theaters         232
Puzzles                231
Bacon                  221
Stationery             219
Photo                  196
Video Art              194
Romance                190
Knitting               181
Workshops              164
Crochet                162
Translations           153
Pet Fashion            139
Glass                  138
Latin                  137
Embroidery             113
Typography             108
Pottery                100
Weaving                 93
Quilts                  81
Residencies             69
Letterpress             49
Chiptune                35
Literary Spaces         27
Taxidermy               13
Name: category, Length: 159, dtype: int64

In [6]:
ks.category.unique() 
ks.category.nunique() #159 unique

159

In [7]:
ks.main_category.unique()

array(['Publishing', 'Film & Video', 'Music', 'Food', 'Design', 'Crafts',
       'Games', 'Comics', 'Fashion', 'Theater', 'Art', 'Photography',
       'Technology', 'Dance', 'Journalism'], dtype=object)

In [8]:
ks.main_category.nunique()

15

In [9]:
# main_category counts
ks.main_category.value_counts()

Film & Video    63585
Music           51918
Publishing      39874
Games           35231
Technology      32569
Design          30070
Art             28153
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: main_category, dtype: int64

In [10]:
#currency
count_currency = ks.currency.value_counts()
count_currency

USD    295365
GBP     34132
EUR     17405
CAD     14962
AUD      7950
SEK      1788
MXN      1752
NZD      1475
DKK      1129
CHF       768
NOK       722
HKD       618
SGD       555
JPY        40
Name: currency, dtype: int64

In [11]:
# Categoires and counts for them 
count_country = ks.country.value_counts()
count_country

US      292627
GB       33672
CA       14756
AU        7839
DE        4171
N,0"      3797
FR        2939
IT        2878
NL        2868
ES        2276
SE        1757
MX        1752
NZ        1447
DK        1113
IE         811
CH         761
NO         708
HK         618
BE         617
AT         597
SG         555
LU          62
JP          40
Name: country, dtype: int64

In [12]:
US_ks = ks[ks['country'] == "US"]
US_ks.groupby(["state"])["goal", "pledged","backers"].mean()

                     goal       pledged     backers
state
canceled     76293.964894   2317.801194   25.820670
failed       60664.242108   1331.173917   16.772118
live         84039.947701   6352.720575   77.495402
successful    9695.670955  23212.887104  270.177952
suspended   242796.605263  11119.731497  117.960526

In [13]:
US_ks.groupby(["state"])["goal", "pledged","backers"].median()

               goal  pledged  backers
state
canceled    10000.0    100.0        3
failed       7500.0    106.0        3
live         6500.0    220.0        4
successful   4000.0   5185.0       71
suspended    5000.0     30.5        2

In [14]:
ks.state.value_counts()

failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: state, dtype: int64

In [15]:
# US Success rate 
ks_state = pd.crosstab(index=ks["state"],  # Make a crosstab
                              columns="count")      # Name the count column
ks_state
ks_state/ks_state.sum()
# Around 52% of kickstartes fail, 37% are successful, 10% are canceled, 
# and about 1% are live right now or suspended for the time being

col_0          count
state
canceled    0.102411
failed      0.522153
live        0.007392
successful  0.353762
suspended   0.004875
undefined   0.009407

In [16]:
# US Success rate 
ks_state_us = pd.crosstab(index=US_ks["state"],  # Make a crosstab
                              columns="count")      # Name the count column
ks_state_us
ks_state_us/ks_state_us.sum()
# In the US, around 52% of kickstartes fail, 37% are successful, 10% are canceled, 
# and about 1% are live right now or suspended for the time being

col_0          count
state
canceled    0.096748
failed      0.519641
live        0.005946
successful  0.373510
suspended   0.004155

# Initial Investigations 

## How does the timeline influence funding? When does most of the money flow in?

In [17]:

#ks.deadline 
#ks.launched.str
#pd.to_datetime(ks.launched).diff(ks.deadline)
#ks.launched.to_string()
#ks.launched, ks.launch_time = 
#ks.launched

#duration = datetime.combine(date.min, ks.deadline) - datetime.combine(date.min, ks.launched)


#ks.launched
#dt.datetime(ks.deadline)

## What variables are the best at prediciting if a kickstarted will succeed or not?
   
   ### How accurate can we get with our prediction

## Which regions have the best success with kickstarters

In [18]:
country_states = pd.DataFrame(ks.groupby(["country","state"]).state.count())
sum_of_states_per_country = country_states.groupby(["country"]).state.sum()
country_state_rates = pd.DataFrame(country_states.state / sum_of_states_per_country)
country_state_rates = country_state_rates.unstack()
country_state_rates

            state
state    canceled    failed      live successful suspended undefined
country
AT       0.152429  0.633166  0.025126   0.179229  0.010050       NaN
AU       0.135859  0.587575  0.008930   0.256410  0.011226       NaN
BE       0.119935  0.601297  0.019449   0.246353  0.012966       NaN
CA       0.144890  0.558146  0.008946   0.280157  0.007861       NaN
CH       0.110381  0.611038  0.018397   0.245729  0.014455       NaN
DE       0.148885  0.599137  0.017981   0.224646  0.009350       NaN
DK       0.141060  0.508535  0.014376   0.323450  0.012579       NaN
ES       0.145431  0.606766  0.022847   0.216169  0.008787       NaN
FR       0.120109  0.548486  0.017693   0.308949  0.004764       NaN
GB       0.111695  0.516364  0.008286   0.358369  0.005286       NaN
HK       0.140777  0.422330  0.056634   0.349515  0.030744       NaN
IE       0.135635  0.586930  0.013564   0.255240  0.008631       NaN
IT       0.141070  0.670605  0.026407   0.152536  0.009382       NaN
JP       0.200000  0.400000  0.225000   0.175000       NaN       NaN
LU       0.064516  0.612903  0.016129   0.306452       NaN       NaN
MX       0.126142  0.579338  0.061073   0.226027  0.007420       NaN
N,0"     0.005794  0.027653  0.000263   0.027653  0.000527  0.938109
NL       0.138075  0.625523  0.012204   0.215132  0.009066       NaN
NO       0.158192  0.593220  0.011299   0.228814  0.008475       NaN
NZ       0.104354  0.570836  0.007602   0.309606  0.007602       NaN
SE       0.118953  0.569152  0.011383   0.289698  0.010814       NaN
SG       0.120721  0.497297  0.050450   0.320721  0.010811       NaN
US       0.096748  0.519641  0.005946   0.373510  0.004155       NaN

In [19]:
country_state_rates.state.successful.sort_values(ascending=False)
    # is GDP an influencer of success of kickstarters 
country_state_rates.state.failed.sort_values(ascending=False)
    # failure rates vary from 67% to 40% 
    # why is japan so low ?

country
IT      0.670605
AT      0.633166
NL      0.625523
LU      0.612903
CH      0.611038
ES      0.606766
BE      0.601297
DE      0.599137
NO      0.593220
AU      0.587575
IE      0.586930
MX      0.579338
NZ      0.570836
SE      0.569152
CA      0.558146
FR      0.548486
US      0.519641
GB      0.516364
DK      0.508535
SG      0.497297
HK      0.422330
JP      0.400000
N,0"    0.027653
Name: failed, dtype: float64

## What type of projects succeed the most / fail the most on kickstarter?

In [20]:
category_states = pd.DataFrame(ks.groupby(["main_category","state"]).state.count())
category_states
sum_of_states_per_category = category_states.groupby(["main_category"]).state.sum()
sum_of_states_per_category
category_state_rates = pd.DataFrame(category_states.state / sum_of_states_per_category)
category_state_rates = category_state_rates.unstack()
category_state_rates

                  state
state          canceled    failed      live successful suspended undefined
main_category
Art            0.078926  0.501936  0.006891   0.408837  0.003410       NaN
Comics         0.077826  0.373047  0.007025   0.539976  0.002126       NaN
Crafts         0.095698  0.647406  0.008628   0.240095  0.008173       NaN
Dance          0.043259  0.327760  0.004777   0.620488  0.003450  0.000265
Design         0.138078  0.492650  0.010143   0.350848  0.008214  0.000067
Fashion        0.116147  0.621581  0.010957   0.245135  0.006048  0.000131
Film & Video   0.090509  0.517481  0.005221   0.371518  0.001840  0.013431
Food           0.089871  0.649094  0.007479   0.247338  0.006219       NaN
Games          0.176038  0.454231  0.008146   0.355312  0.006245  0.000028
Journalism     0.109989  0.659727  0.006519   0.212829  0.010936       NaN
Music          0.063658  0.418968  0.005412   0.466062  0.002870  0.043029
Photography    0.091474  0.592263  0.004453   0.306615  0.005103  0.000093
Publishing     0.090335  0.580453  0.007499   0.308472  0.001655  0.011586
Technology     0.144770  0.632995  0.011575   0.197550  0.013019  0.000092
Theater        0.055713  0.339778  0.003757   0.598735  0.001924  0.000092

In [21]:
category_state_rates.state.successful.sort_values(ascending=False)
    # Dance, theater, and comics often do well
    # Tech, Journalism, and Crafts don't do as well
category_state_rates.state.failed.sort_values(ascending=False)
    # Journalism , Food, and Crafts do bad
sum_of_states_per_category.sort_values(ascending=False)
    # Film & Video , music, publishing, and games and tech are popular and more succesptible to failure rates

main_category
Film & Video    63585
Music           51918
Publishing      39874
Games           35231
Technology      32569
Design          30070
Art             28153
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: state, dtype: int64

## Can your project name influence your success? (length/ contents / etc. )

In [22]:
# Name Length 
ks["name_length"] = ks['name'].str.len()
ks["name_length"].mean()
ks["name_length"].median()

pd.DataFrame(ks.groupby(["state"]).name_length.mean())

# Word Count 
title_words = ks['name'].str.split()
ks["title_word_count"] = title_words.str.len()
ks["title_word_count"].mean()
ks["title_word_count"].median()
pd.DataFrame(ks.groupby(["state"]).title_word_count.mean())

#title_words

# Text Analysis

            title_word_count
state
canceled            6.099642
failed              5.372130
live                5.529475
successful          6.013154
suspended           6.276965
undefined           5.338855

## What sort of funding scheme makes for a successful kickstarter (small amounts from many or large amounts from a few)
    #### Number of backers influence your success

In [23]:
ks["average_backed_amount"] = (ks.pledged / ks.backers)
ks["pledge_goal_diff"] = (ks.pledged - ks.goal) # by how much are failing kickstarters missing their goals 

ks.groupby(["state"])["goal", "pledged","backers","average_backed_amount","pledge_goal_diff"].mean()
ks.groupby(["state"])["goal", "pledged","backers","average_backed_amount","pledge_goal_diff"].median()
    # successful kickstarters have...
        # MANY more backers than any other 
        # smaller goal than failed brojects by $3500 

#success_ks = ks[ks.state == "successful"]
#success_ks

               goal  pledged  backers  average_backed_amount  pledge_goal_diff
state
canceled    10000.0     88.0        3              43.750000           -9392.0
failed       7500.0    100.0        3              34.860706           -6460.0
live         7500.0    275.0        5              47.296554           -4864.0
successful   3923.0   5117.0       71              62.789838             545.0
suspended    5000.0     37.0        2              40.947273           -3000.0
undefined    3500.0    595.0        0                    inf           -1140.0

## Need plots of stuff for distributions and better understanding the data